/* CSS код для завдання 7 */
.text-editor {
	font-size: 16px;
}
.colors, .fontStyle{
	display: flex;
}
.color{
	width: 30px;
	height: 30px;
	border: 1px solid grey;
	margin: 5px;
}
.red{
	background-color: red;
}
.green{
	background-color: green;
}
.blue{
	background-color: blue;
}
.pink{
	background-color: pink;
}
.yellow{
	background-color: yellow;
}
.orange{
	background-color: orange;
}

.style{
	width: 30px;
	height: 30px;
	border: 1px solid orange;
	margin: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
}